.top {
  margin-left: 3px;
  padding-left: 3px;
}
.p1 {
  margin-top: 7px;
}

.div1 {
  display: flex;
}

.div2 {
  border: 2px solid black;
}

.check {
  margin-left: 3px;
}

.btn {
  width: 50px;
  border: 2px solid black;
}

.input {
  border: 2px solid black;
}